body{
    background-color: #B2D22A;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    color: #688000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.header
{
    position: relative;
}
.header img
{
    height: 130px;
    width: 480px;
}
.header_text
{
    font-size: 7px;
    position: absolute;
    top: -18%;
    left: 1%;
    color: #617703;
    padding: 25px;    
}
.header_text a{
    text-decoration: none;
    color: #617703;
}
.header_text h1
{
    font-size: 50px;    
}
.header_text_right 
{
    position: absolute;
    top: -11%;
    right: 17%;
    color: #688000;
    padding: 25px;  
      
}
.header_text_right a{
    text-decoration: none;
    border-bottom: 1px solid #688000;
    border-bottom-style: dotted;
    color: #688000;
}
.first{
    font-size: x-large;
    color: #617703;
}

.wrapper{
    width: 460px;
    background-color: #ffff;
    font-size: smaller;
}
.inner_wrapper{
    margin: -30px 5px 0px 5px;
    background-image: url(images/img5.gif);
    background-size: cover;
}
.inner_wrapper a{
    border-bottom: 2px solid #688000;
    text-decoration: none;
    color: #688000;
}
.content3{
    margin: 0px 30px; 
    list-style-image: url(images/img4.gif);   
}
.content3 a{
    color: #688000;
}
.archives{
    width: 50%;
    float: left;
}
.archives1{
    font-size: large;
}
.cartegories1{
    font-size: large;
}
.categories{
    float: right;
    width: 50%;
    left: -30%;
}