body{
    background-color: #B2D22A;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    color: #688000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.header
{
    position: relative;
}
.header img
{
    height: 130px;
    width: 480px;
}
.header_text
{
    font-size: 7px;
    position: absolute;
    top: -18%;
    left: 1%;
    color: #617703;
    padding: 25px;    
}
.header_text a{
    text-decoration: none;
    color: #617703;
}
.header_text h1
{
    font-size: 50px;    
}
.header_text_right 
{
    position: absolute;
    top: -11%;
    right: 17%;
    color: #688000;
    padding: 25px;  
    font-size: smaller;
      
}
.header_text_right a{
    text-decoration: none;
    border-bottom: 1px solid #688000;
    border-bottom-style: dotted;
    color: #688000;
}
.first{
    font-size: x-large;
    color: #617703;
}

.wrapper{
    width: 460px;
    background-color: #ffff;
    font-size: smaller;
    margin-top: -1%;
}
.inner_wrapper{
    margin: -30px 5px 0px 5px;
    background-image: url(images/img5.gif);
    padding-bottom: 5%;  /*Padding creates external space*/
    background-size: cover;
}
.inner_wrapper a{
    border-bottom: 2px solid #688000;
    text-decoration: none;
    color: #688000;
}
.content3{
    /* margin: 0px 30px;  */
    list-style-image: url(images/img6.gif); 
    background-color: #E5FAA0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 5px;
}
.content3 a{
    color: #688000;
}

.archives{
    list-style-image: url(images/img4.gif);
}
.archives1{
    font-size: large;
    margin: 30px 30px -13px 30px;
}
.cartegories1{
    margin: 0px 30px -13px 30px;
}
.categories{
    list-style-image: url(images/img4.gif);
    margin-right: 50px;
    margin-top: -14%;
}
footer{
    background-image: url(images/img7.gif);
    width: 480px;
    /* padding: 25px; */
    background-size: contain;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 55px;
    font-size: smaller;
}
footer a{
    color: #688000;

}